// hr {
//     width: 90%;
//     height: 2px;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: gray;
//     margin-top: 2%;
//     // margin-bottom: 40vh;
// }

.seventh {

    position: relative;
    margin-top: 17%;

    .upper_div {
        z-index: 1;
        background-color: #f7a01c;
        // margin: 5% 10%;
        margin: -6% 10% !important;
        border-radius: 10px;
        position: absolute;
        bottom: 100%;
        height: 250px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;

        .left {
            font-size: 2.4rem;
            color: #fbfafb;
            width: 60%;
            text-align: center;
            align-items: center;
            margin: 6%;
            flex: 1 1 250px;
        }

        .right {
            color: #f7a01c;
            margin: 10% 2%;
            flex: 1 1 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .contact_now {
                border-radius: 7px;
                text-align: center;
                background-color: #ffffff;
                font-size: 1.1rem;
                padding: 0.3rem 1rem;
                cursor: pointer;
                width: 150px;
                height: 35px;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5% 10%;
        background-color: #37b4e0;
        // height: 470px;
        height: fit-content;
        width: 100%;

        div {
            // width: 25%;
            flex: 1 1 200px;

            h2 {
                font-size: 1.4rem;
                font-weight: bold;
                color: aliceblue;
                margin-bottom: 5%;
                margin-top: 17%;
            }
        }

        li {
            list-style: none;
            // padding: 10% auto;
            font-weight: 600;
            color: rgb(208, 202, 202);
            margin-bottom: 10%;
            font-size: 1.1rem;
        }

        p {
            color: rgb(208, 202, 202);
            font-size: 1.1rem;
            // width: 10%;
        }

        .icons {
            display: flex;

            li {
                background-color: aliceblue;
                height: 30px;
                width: 30px;
                border-radius: 100%;
                margin: 10% 3%;
            }
        }
    }
}

@media (max-width:594px) {
    .right {
        margin-top: 5% !important;
        flex-direction: row !important;
        justify-content: center !important;
    }

    .left {
        font-size: calc(100% + 1rem) !important;
    }
}

@media (max-width:425px) {
    .products {
        margin-top: 22% !important;
    }
    .upper_div {
        bottom: 95% !important;;
    }
}

// @media (max-width:768px) {
//     .seventh_classes{
//         margin-top:35%;
//     }
// }

