.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0% 10%;
    padding: 2% auto;
    align-items: center;
    height: 10vh;
    .logo{
        display: flex;
        justify-content:center ;
        align-items: center;
        cursor: pointer;
    }
    .navlinks{
        display: flex ;
        list-style: none;
        justify-content: space-around;
        width: 60%;
        margin-left: 10%;
        li{
            font-weight: 500;
            cursor: pointer;
            font-size: 1.6rem;
        }
    }
}
@media (max-width:768px){
    .navbar{
        // flex-direction: column;
        position:relative;
        .burger{
            position:fixed;
            display: flex;
            flex-direction: column;
            top: 3.5%;
            z-index: 1000;
            right: 2%;

            .line{
                background-color: black;
                height: 4px;
                
                margin: 3px auto;
                &:nth-child(3){
                    width: 30px;  
                }
                &:nth-child(2){
                    width: 27px;  
                    margin-left: 3px;
                }
                &:nth-child(1){
                    width: 25px;  
                    margin-left: 5px;
                }
            }
        }
        .navlinks{
            // display: none;
            // width: 100%;
            li{
                color: white;
            }
        }

        .notshow{
            display: none;
            width: 100%;
            li{
                margin: 4% auto;
            }
        }
        .show{
            display: block !important;
            height: 400px;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.308);
        }
    }
}