// .mentors_component {
//     display: flex;
//     width: 95%;
//     scroll-behavior: smooth;
//     overflow-x: scroll;
//     -ms-overflow-style: none;
//     /* Internet Explorer 10+ */
//     scrollbar-width: none;

//     /* Firefox */
//     // white-space: nowrap;
//     &::-webkit-scrollbar {
//         display: none;
//     }

    .mentor {
        margin: 4%;

        .img {
            height: 250px;
            width: 250px;
            border-radius: 100%;
            background-color: #e0c075;
        }

        h3 {
            text-align: center;
            font-size: 1.1rem;
            margin: 5%;
        }

        h4 {
            text-align: center;
            font-size: 1.1rem;
            margin: 3%;
        }
    }
// }
@media (max-width:768px) {
     .mentors_component {
                width: 100%;
                .mentor {
                    margin: 4% 10%;
                    .img {
                        height: 200px;
                        width: 200px;
                    }
                }
            }
}