:root {
    --margin_stair: 8.5%;
}


.modalBackground {
    border: 2px solid black;
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 150vh;
    top: 0%;
    left: 0%;
    background-color: rgba(128, 128, 128, 0.77);
}

.EnrollButton{
        background-color: #ffa115;
        color: azure;
        width: 150px;
        border-radius: 10px;
        height: 55px;
        border: 2px solid #e0c075;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 500;
        box-shadow: 13px 13px 20px #b8b8b8;


        &:hover {
            background-color: rgb(250, 250, 250);
            color: #ffa115;
            box-shadow: 7px 7px 10px #b8b8b8;


        }
}

.modal, .contactFormModal, .classesModal {
    width: 60%;
    height: max-content;
    border-radius: 10px;
    position: fixed;
    transform: translate(20%, -60%);
    z-index: 10;
    padding:5%;

    .modalTitle {
        color: white;
        font-size: calc(1rem + 20%);
        font-weight: 500;
    }

    .closeButton {
        color: white;
        font-size: 1.2rem;
        font-weight: 300;
        border: none;
        background-color: transparent;
        height: 2.5%;
        width: 2.5%;
        padding: .5%;
        cursor: pointer;
        margin-right: 2%;
    }

    .modalHeader {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: .25%;
        padding-left: 2%;
        padding-right: 2%;
        background-color: #FFA115;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 0px 0px 1px gray inset;
    }
}

.modalNotActive {
    display: none;
}


.openButton, .openButtonClasses,.openOtherClassButton{
    padding: 1% 2%;
    margin-top: 5%;
    cursor: pointer;
    border: none !important;
    background-color: #FFA115;
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    transition: transform 0.1s ease-in-out;
    animation: buttonAnimation 1.5s infinite;
    animation-direction: alternate;
}

.openOtherClassButton{
    display: block;
    margin: 5% auto;
    
}
.openButtonClasses{
    display: block;
    margin-top: 10%;
    // position: relative;
    // top:-50%;
    // // margin-bottom: 10%;
    margin-left:auto;
    margin-right:auto;
}

.openContactForm{
    border-radius: 7px;
    border: none;
    text-align: center;
    background-color: #ffffff;
    font-size: 1.1rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
    width: 150px;
    height: 35px;
    transition: all 0.2s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}
.classesOpen{
    margin:4% auto;
    border-radius: 7px;
    border: none;
    text-align: center;
    background-color: #FFA115;
    display: block;
    font-size: 1.1rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
    color: #ffffff;
    width: 150px;
    height: 35px;
    transition: all 0.2s ease-in-out;
    transition: transform 0.1s ease-in-out;
    animation: buttonAnimation 1.5s infinite;
    animation-direction: alternate;
    &:hover{
        transform: scale(1.1);
    }
}

.contactFormModal{
    top: calc(5% + -3vh);
    left: 20%;
    transform: translate(0, 0);
}
@keyframes buttonAnimation {
    from {
        transform: scale(1);
    }
    
    to {
        transform: scale(1.2);
    }
}


//Contact Form Modal
.contactFormModal{
    top: calc(5% + 4vh);
    left:20%;
    transform: translate(0,0);
}
@media (max-width:1150px){
    .openOtherClassButton{
        margin-bottom: 25%;
    }
}
@media (max-width:1000px){
    .openOtherClassButton{
        margin-bottom: 30%;
    }
}
@media (max-width:768px){
    .modal{
        width:80%;
        top:calc(40% + 10vh);
        left:-7%;
    }
    .contactFormModal{
        width:100%;
        left:0%;
    }

    .openOtherClassButton{
        margin-top: 30%;
        width: 150px;
    height: 35px;
    }
}

@media (max-width:725px){

    .openOtherClassButton{
        margin-top: 40%;
        margin-bottom: -5%;
    }
}
@media (max-width:625px){

    .openOtherClassButton{
        margin-top: 46%;
        margin-bottom: -25%;
    }
}

@media (max-width:500px){
    .openOtherClassButton{
        margin-top: 20%;
        margin-bottom: -15%;
    }
}
@media (max-width:425px){
    .closeButton{
        margin-right:calc(2% + 5vw)!important;
    }
    .modal{
        width:90%;
        top:calc(40% + 10vh);
        left:-12%;
    }
}
@media (max-width:405px){
    .openOtherClassButton{
        margin-bottom: 0;
    }
}