:root {
    --margin_stair: calc(6.5% + 8vh);
    // --margin_stair: calc(6.5% + 14vh);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

#hero {
    position: relative;
    width: 100%;
    height: 200vh;
    background-image: url("./class\ hero\ image.jpg");
    /* background-blend-mode: luminosity; */
    background-size: cover;
    background-position: bottom;
}

.heroContent {
    z-index: 2;
    position: absolute;
    top: 75px;
    margin: 7% 7%;
}

.heroContent h1 {
    font-size: 4rem;
    position: relative;
    display: inline;
    padding-left: 2%;
    border-left: 10px solid #FFA115;
}

.heroContent p {
    margin-top: 5%;
    padding-right: 10%;
}

#hero::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.963);
    height: 100%;
    width: 100%;
    z-index: 0;
    clip-path: polygon(100% 0, 100% 15%, 20% 50%, 100% 90%, 100% 100%, 22% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
}

.register-button {
    padding: 1% 2%;
    margin-top: 5%;
    cursor: pointer;
    border: none !important;
    background-color: #FFA115;
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    transition: transform 0.1s ease-in-out;
    animation: buttonAnimation 1.5s infinite;
    animation-direction: alternate;

    &:hover {
        transform: scale(1.1);
    }
}

@keyframes buttonAnimation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

// .heroContent h1::before {
// content: "";
// position: absolute;
// bottom: 0px;
// left: 0px;
// background-color: black;
// width: 100%;
// height: 2px;
// }

#cards {
    height: 80vh;
    width: 86vw;
    position: absolute;
    bottom: -107%;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0%;
    a{
        text-decoration: none;
    }
}

.card {
    position: relative;
    width: calc(10% + 10vw);
    // width: calc(10% + 14vw);
    height: calc(1% + 6vw);
    background-color: #FFA115;
    color: #FFf;
    font-size: calc(30% + 1rem);
    border-radius: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    user-select: none;
    transition: transform 0.1s ease-in;
}

.card:hover {
    transform: scale(1.1);
}

.card-2 {
    margin-top: calc(var(--margin_stair)*1);
}

.card-3 {
    margin-top: calc(var(--margin_stair)*2);
}

.card-4 {
    margin-top: calc(var(--margin_stair)*3);
}

.card-5 {
    margin-top: calc(var(--margin_stair)*4);
}

.description{
    margin: 5% 10%;

    h1{
        text-align: center;
        margin: 3% auto;
        font-size: 3rem;
        font-weight: 600;
    }
    p{
        font-size: 1.2rem;
        font-weight: 400;
    }

    .syllabus{
        margin: 5% auto;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }
    .subjectName{
        margin: 3% auto;
        font-size: 1.6rem;
        font-weight: 600;
        padding-left: 15%;
    }
    ul{
        list-style: none;
        padding-left: 10%;
        margin: 3% auto;
        font-size: 1.2rem;
        font-weight: 400;
        li{
            margin-bottom: 1%;
        }
    }
    
}

.wrapper{
    font-family: 'Comfortaa', sans-serif;
    display: flex;
}

#about{
    color: white;
    background: black;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background: rgb(250, 249, 252);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.scroll{
    width:50%;
    color: white;
}

.scroll div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.scroll div > h2 {
    width: 80%;
    text-align: center;
}

.scroll div > p {
    width: 80%;
}

.scroll div:nth-child(1){
    background: #D83F87;
}

.scroll div:nth-child(2){
    background: #4ABDAC;
}

.scroll div:nth-child(3){
    background: #44318D;
}.mentors{
    // display: flex;
    // // flex-direction: column;
    // // justify-content: center;
    // // align-items: center;
    // width: 100%;
    // width: 90%;
}
.mentors_component {
    display: flex;
    width: 95%;
    justify-content: space-around;
    .mentor {
        // margin: 4% 10%;
        .img {
            height: 150px;
            width: 150px;
        }
    }
}
.pagination_button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        width: 40px;
    padding-top: 25%;
    height: 40px;
    background-color: #F6F6F5;
    border-radius: 25%;
    border: none;
    outline: none;
    cursor: pointer;
    }
}
.mentor-heading{
    text-align: center;
    font-size: 2rem;
    margin-top: 5%;
}
.mentors_component {
        display: flex;
        width: 95%;
        scroll-behavior: smooth;
        overflow-x: scroll;
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
    
        /* Firefox */
        // white-space: nowrap;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .register{
        background-color: #FFA115;
        display: flex;
        justify-content: center;
    }
    .card1{
        margin:5% auto;
        padding: 0.5%;
    }
@media (max-width:768px) {
    .description{
        margin: 5%;
    }
    .mentorSlider{
        margin-bottom: 50%;
    }
    #hero {
        background: none;
    }

    .heroContent {
        .heroPara {
            background-image: url('./class\ hero\ image-photoaidcom-greyscale.jpg');
            background-position: center;
            margin-left: -8%;
            width: 116%;
            padding: 30% 10%;
            color:white;
            font-size: larger;
            margin-top: 10%;
            margin-bottom: 7%;
            p{
                background-color: rgba(0, 0, 0, 0.71);
                margin-left: -10.5%;
                width: 121%;
                padding: 10% 2%;
            }
        }
    }
    #cards{
        display: flex;
        // flex-direction: column;
        margin-bottom:-25%;
        flex-wrap: wrap;
        a{
            text-decoration: none;
        }
        .card{
            flex:1 1 250px;
            margin-top: 0;
            margin:5%;
            // width: 30%;
            height:15%;
        }
    }
}

@media (max-width:500px){
    .description{
        p{
            margin-bottom: 10%;
            font-size: 1rem;

        }
        h1{
            font-size: 2rem;
        }
    }
    #cards{
        top: 120% !important;
    }
}


